@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="backDrop">The Squire's Hand</h1>
    <p class="lead" id="backDrop">"Handeth me my sword, I have the King's will to make". Sir Knight</p>
    
</div>

