@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="backDrop"style="font-family: 'New Rocker', cursive;">The Squire's Hand</h1>
    <p class="lead" id="backDrop" style="font-family: 'Milonga', cursive;">"Handeth me my sword, I have the King's will to make". Sir Knight</p>
    
</div>

